body {
  font-family: 'Lusitana', serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

h1 {
  color: #474f85;
  font-family: 'Alex Brush', cursive;
  font-size: 6.25rem;
  font-weight: normal;
  margin-top: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

h2 {
  color: #474f85;
  font-family: 'Antic Slab', serif;
  font-size: 2rem;
}

h3 {
  color: #474f85;
  font-family: 'Antic Slab', serif;
}

p {
  color: #00000;
  font-size: 1.125rem;
  line-height: 2;
}

a {
  color: #51e3d4;
  font-family: 'Antic Slab', serif;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  color: #eaf6f6;
}

hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: #e6e7e5;
  border-width: 5px;
  margin: 100px auto;
}


/**********************************CLASS SELECTORS****************************/

.top-container {
  background-color: #f3f9fb;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 100px;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #474f85;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

.tecnica {
  font-size: 1.25rem;
  font-weight: normal;
}

.hotelera {
  font-style: italic;
  /*text-decoration: underline;*/
}

/* nube1 y nube2 son los elementos hijos de div*/
.nube1 {
  position: absolute;
  right: 400px;
  top: 50px;
}

.nube2 {
  position: absolute;
}

.montana {
  width: auto;
}

.pp {
  border-radius: 100%;
  width: 170px;
}

.skill-row {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: left;
  width: 50%;
}

.idiomas {
  float: left;
  margin-right: 30px;
  width: 170px;
}

.programacion {
  float: right;
  margin-right: 30px;
  width: 170px;
}

.edicion {
  float: left;
  margin-right: 30px;
  width: 170px;
}

.descripcion {
  margin: auto;
  width: 40%;
}

.contactame {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 40%;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.butn {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #474f85);
  background-image: -moz-linear-gradient(top, #2980b9, #474f85);
  background-image: -ms-linear-gradient(top, #2980b9, #474f85);
  background-image: -o-linear-gradient(top, #2980b9, #474f85);
  background-image: linear-gradient(to bottom, #2980b9, #474f85);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Antic Slab', serif;
  color: #fafafa;
  font-size: 1.25rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
